* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  border-radius: 8px;
  background: radial-gradient(144.5% 81.53% at 25.55% 31.91%, #20135c 0%, #140739 92.82%);
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
  margin: 30px auto;
  width: 480px;
  height: 595px;
  border-radius: 8px;
  background: linear-gradient(20deg, #1e1156 0%, rgba(28, 35, 64, 0.7) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 3, 32, 0.5);
}
.container h1 {
  color: #fff;
  text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
  font-family: sans-serif;
  font-size: 36px;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container form .inputs {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.container form .inputs div {
  position: relative;
}
.container form .inputs div img {
  position: absolute;
  top: 20%;
  left: 2.7%;
}
.container form .inputs div .email_icon {
  left: 6.2%;
  top: 37%;
}
.container form .inputs div .eye {
  top: 25%;
  left: 88%;
}
.container form .inputs input {
  width: 380px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #2e3558;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  color: #616a8b;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding-left: 60px;
}
.container form button {
  width: 250px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: linear-gradient(272deg, #3887fe 4.26%, #3ba0ff 51.37%, #5fb2ff 99.01%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}